{{define "reservant"}}
<!DOCTYPE html>
<html>
    <head>
            <link href="/StyleHeader.css" rel="stylesheet">
            <link href="/StyleMain.css" rel="stylesheet">
            <link href="/StyleFooter.css" rel="stylesheet">
            <link href="/StyleReservant.css" rel="stylesheet">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>
    <body>
        <header>
                <a href="customers" class="current">Покупатели</a>
                <a href="venues" class="current">Спортивные сооружения</a>
                <a href="events" class="current">Спортивные события</a>
        </header>
        <main>

            <div class="customer-event">
                <div class="customer">
                    <div>Имя: {{.Customer.Name}}</div>
                    <div>Фамилия: {{.Customer.SecondName}}</div>
                    <div>Возраст: {{.Customer.Age}}</div>
                </div>
                <div class="events-containeer">
                    <div class="event">
                        <div class="event-name">Название</div>
                        <div class="event-time">Время</div>
                    </div>
                    {{range .Events}}
                        <div class="event">
                            <div class="event-name">{{.Name}}</div>
                            <div class="event-time">{{.Time}}</div>
                        </div>
                    {{end}}
                </div>
            </div>
        <script src="SetCookie.js"></script>
        </main>

        <footer>
        </footer>
    </body>
</html>
{{end}}